{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}


<form action="" method="get">
    <div class=" mb-3"
         style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; align-content: center;">
        <div class="filtration" style="margin-right: 10px;">
            <select class="form-select" aria-label="Default select example" style=" border-color: #a3d465;"
                    name="author" aria-expanded="false">
                <option selected>Все депы</option>
                {% for a in authors %}
                <option value="{{ a.username }}">{{ a.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filtration" style="margin-right: 10px;">
            <input type="text" name="search" maxlength="100" class="form-control" placeholder="Введите полный гос.номер"
                   id="id_search" style="border-color: #a3d465;">
        </div>
        <div class="filtration" style="margin-right: 10px;">
            <input type="date" class="form-control" style=" border-color: #a3d465;" name="start_date">
        </div>
        <div class="filtration" style="margin-right: 10px;">
            <input type="date" class="form-control" style=" border-color: #a3d465;" name="end_date">
        </div>
        <div class="filtration" style="margin-right: 10px;">
            <button type="submit" class="btn" style="border-color: #a3d465; font-color: #a3d465;"><i
                    class="bi bi-search" style="color: #a3d465;"></i></button>
        </div>
    </div>
</form>

{% if dep %}
<div class="card">
    <div class="mt-2 mb-2" style="margin-left: 20px;">Результат фильтра: {{ dep }} {% if government_number %} | {{ government_number }}
        {% elif start_date and government_number %} | с {{ start_date|date:"d-m-Y" }} по {{ end_date|date:"d-m-Y" }} {% endif %}
    </div>
    <a href="{% url 'fuel_consumption' %}" class="mb-2" style="text-decoration: none; color: green; margin-left: 20px;">Сбросить фильтр</a>
</div>
{% endif %}

<button class="btn btn-outline-success mt-4" onclick="exportTableToExcel('my-table')">Выгрузить Excel</button>
{% for category in gsm_categories %}
<table id="all-tables" class="table table-hover table-bordered mt-4 mb-4">
    <tbody>
        <tr>
            <th>{{ category.title }}</th>
        </tr>
        <tr>
            <th>Деп</th>
            <th>Авто</th>
            <th>Гос.номер</th>
            <th>Дата</th>
            <th>Заправка/деп</th>
            <th>Заправка/wialon</th>
            <th>Разница</th>
            <th>Средний расход</th>
        </tr>
        {% for f in fuel_consumption %}
            {% if f.car.gsm_category == category %}
            <tr>
                <td>{{ f.author }}</td>
                <td class="text" style="color: green;">{{ f.car.brand }} {{ f.car.model }}</td>
                <td style="text-transform : uppercase;">{{ f.car.government_number.title }}</td>
                <td>{{ f.refueling_date|date:"d-m-Y" }}</td>
                <td class="gsm_liters" data-gsm="{{ f.car.gsm_category }}" data-liters="{{ f.refueling_liters }}">{{ f.refueling_liters }}л.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        {% empty %}
        <tr>
            <td style="color: green;" colspan="5">Транспорт отсутствует</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>

<script src="{% static 'js/result_sum.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/excel.js' %}"></script>

{% endblock %}