{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}



{% block content %}
<style>
.card-dash {
    border: 1px solid black;
    padding-right: 0px;
    padding-left: 0px;
}
.card-head {
    background-color: #a3d465;
}
</style>
{{ drain }}
    <div class="description">
        <div class="container">
            <div class="cards-dash row">
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-head text-center" >Online</h4>
					<h4 class="card-value text-center mt-4 mb-4">{{ online }}</h4>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-head text-center">Offline</h4>
                    <h4 class="card-value text-center mt-4 mb-4">{{ offline }}</h4>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >Заправка</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >ДУТ offline</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >ДУТ погреш.</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center">Слив</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >Средн. расход</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >Страховка</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
                <div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center" >Регламент ТО</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
				<div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center">На ремонте</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
				<div class="card-dash col-sm-12 col-md-6 col-lg-3 mb-2">
                    <h4 class="card-value card-head text-center">ДТП</h4>
                    <h5 class="card-value text-center mt-4 mb-4">1</h5>
                </div>
            </div>
        </div>
    </div>
{{ list_off }}
{% endblock %}