{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="d-flex justify-content-center mt-4">
    <div class="border border-4 p-5" style="width: 320px;">
        <h4 class="text-center">Отчет ГСМ</h4>
        <div>
            <form action="" method='POST'>
                <div class='form'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-secondary" type="submit" value="Войти">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


