{% extends 'base.html' %}

{% block content %}

<table class="table table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Авто</th>
        <th>2525</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text" style="color: green;"><p>{{ cars.brand }}
            {{ cars.model }} - <span style="text-transform : uppercase;">{{ cars.government_number.title }} - </span>{{ cars.city.title }} <a href="№">car</a></p><br/>
        </td>
        <td class="text">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <input type="number" name="refueling_liters" class="form-control"
                               style="border-color: #a3d465; width: 100px;">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn"
                                style="border-color: #a3d465; font-color: #a3d465;">Добавить
                        </button>
                    </div>
                </div>
            </form>
            <br/>
        </td>
    </tr>


    </tbody>
</table>


{% endblock %}