{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Report GSM {% endblock %}</title>
</head>

<body style="background-color: #f4f4f485;">


<header>
    <div class="navbar navbar-dark box-shadow border-bottom bg-white">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'homepage' %}" class="navbar-brand d-flex align-items-center">
                <strong><h3 class="text-dark">Отчет ГСМ</h3></strong>
            </a>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if user.is_authenticated %}
                <a href="{% url 'fuel_consumption' %}" class="text-dark"><i class="bi bi-person"
                                                                            style="font-size: 39px; margin-right: 15px;"></i></a>
                <a href="{% url 'logout' %}" class="btn btn-outline-dark">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark my-2">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>


<div class="container mt-4">
    {% block search %}{% endblock %}
    {% block content %}{% endblock %}
</div>


<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end">
        <a href="#" style="font-size: 20px;">Наверх</a>
      </p>
    </div>
  </footer>

</body>
</html>