{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

{% include 'partial/search.html' %}

<table class="table table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Авто</th>
        <th>{{ today }}</th>
    </tr>
    </thead>
    <tbody>
    {% for car in cars %}
    <tr>
        <td class="text" style="color: green;"><p>{{ car.brand }}
            {{ car.model }} - <span style="text-transform : uppercase;">{{ car.government_number.title }}</span></p>
        </td>
        <td class="text">
            <form action="{% url 'fuel_consumption_create' car.pk %}" method="post">
                {% csrf_token %}
                <div class="row">
                    {% if not car.pk in fuel_consumption %}
                    <div class="col-3">
                        <input type="number" name="refueling_liters" class="form-control"
                               style="border-color: #a3d465; width: 100px;">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn"
                                style="border-color: #a3d465; font-color: #a3d465;">Добавить
                        </button>
                    </div>
                    {% else %}
                        {% for l in liters %}
                            {% if car.pk == l.car.pk %}
                                <div class="col">
                                    <p>Добавлено {{ l.refueling_liters }}л.</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </td>
    </tr>
    {% empty %}
    <thead>

    </thead>
    <tbody>
    <tr>
        <td class="text"><p>Транспорт отсутствует</p><br/></td>
        <td class="text"><p><a href="#" class="button cancel" style="text-decoration: none; color: green;"></a></p>
            <br/></td>
        <td class="text"><p></p><br/></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}