{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_form form %}


<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    let search = $('#id_search');
    let url = 'http://127.0.0.1:8000/json-cars/?search='

    let addCar = function (cars, container){
        let pk = document.createElement('div');
        let government_number = document.createElement('p');
        government_number.innerText = `government_number - ${cars.government_number}`;
        let link = document.createElement('a');
        link.innerText = 'Подробнее';
        $(link).attr('href', `http://127.0.0.1:8000/car/detail/${cars.id}`)
        console.log($(link).attr('href', `http://127.0.0.1:8000/car/detail/${cars.id}`))
        pk.append(government_number);
        console.log(government_number)
        pk.append(link);
        container.append(pk);
    }
    renderResults = function(cars){
        let car_container = $('#cars');
        car_container.empty();
        for(let car of cars){
            addCar(car, car_container);
        }
    }
    let getCars = function (){
        let value = search.val();
        $.ajax({
            url: url + value
        }).done(
            function (data){
                renderResults(data);
            }
        )
    }
    search.on('keyup', getCars);

</script>